:root {
    font: 13px sans-serif;
    --blue: #007979;
    --blue-light: #68cccc;
    --blue-lighter: #7de1e1;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    background: beige;
}

main {
    display: flex;
}
@media (max-width: 767px) {
    main {
        flex-direction: column;
    }
}

button,
input[type=button] {
    background: transparent;
    padding: 0.5rem 1.25rem;
    border: 1px solid #aaa;
    border-radius: 0.25rem;
    cursor: pointer;
    color: #555;
}
button:hover,
button:active,
input[type=button]:hover
input[type=button]:active {
    border-color: transparent;
    background: var(--blue-lighter);
    color: var(--blue);
}

h1, h2, h3 {
    font-weight: lighter;
}



/*
------------------------------------------------------------------------

Header

------------------------------------------------------------------------
*/

header .page-title {
    padding: 2rem 0 0.5rem 0;
    text-align: center;
}
header .page-subtitle {
    text-align: center;
    margin-bottom: 2rem;
    font-weight: lighter;
}



/*
------------------------------------------------------------------------

Setting section

------------------------------------------------------------------------
*/

.settings-section {
    width: 70%;
    padding: 1rem;
}
@media (max-width: 767px) {
    .settings-section {
        width: 100%;
    }
}

input.sequence-type-selector {
    position: absolute;
    z-index: -1;
}
input.sequence-type-selector:focus + label {
    outline: 1px dotted #000;
}
input.sequence-type-selector:active + label,
input.sequence-type-selector:checked + label {
    color: var(--nts-s-checked-label-color);
}
input.sequence-type-selector + label {
    color: #666;
}
input.sequence-type-selector + label:hover {
    color: var(--nts-s-checked-label-color);
    cursor: pointer;
}

input#sequence-length {
    background: transparent;
    border: 1px solid lightgray;
    padding: 0 0.5rem;
    max-width: 100px;
}

.s-length-sugg-btn {
    padding: 0.1rem 0.5rem;
    margin: 0 0.25rem;
}

.generate-btn {
    border-color: var(--blue);
    color: var(--blue);
}

/* Placeholder element to focus on page load so that keyboard shortcuts
can be used. */
#focus-placeholder:focus {
    height: 0;
    width: 0;
    outline: none;
}



/*
------------------------------------------------------------------------

Notes section

------------------------------------------------------------------------
*/

.notes-section {
    width: 30%;
    padding: 1rem;
}
@media (max-width: 767px) {
    .notes-section {
        width: 100%;
    }
}

.single-note-section {
    padding-bottom: 1.5rem;
}

.single-note-section-heading {
    margin-bottom: 0.5rem;
}

.single-note-section .char-item {
    display: inline-block;
    width: 2rem;
    text-align: center;
    color: #555;
}



/*
------------------------------------------------------------------------

Other

------------------------------------------------------------------------
*/

#output {
    color: var(--blue);
    font-family: monospace;
    word-break: break-all;
}



/*
------------------------------------------------------------------------

'Not too shabby' switch

------------------------------------------------------------------------
*/

.sts-wrap {
    display: inline-block;
    margin: 0 1rem 0.5rem 0;
    --canal-height: 13px;
    --canal-width: 22px;
    --nts-s-checked-label-color: var(--blue);
}

input[type="checkbox"] + label .nts-switch::before,
input[type="checkbox"] + label .nts-switch::after {
    content: "";
    display: inline-block;
    height: var(--canal-height);
    color: transparent;
    vertical-align: middle;
}
input[type="checkbox"] + label .nts-switch::before {
    width: var(--canal-width);
    margin-left: -20px;
    border-radius: calc(var(--canal-height) / 2);
    box-shadow: inset 0 0 2px #aaa;
}
input[type="checkbox"] + label .nts-switch::after {
    width: var(--canal-height);
    background: #ccc;
    margin-left: calc(var(--canal-width) * -1);
    border-radius: 50%;
    transition: margin 0.3s ease;
}
input[type="checkbox"]:checked + label .nts-switch::before {
    box-shadow: inset 0 0 2px #6cb5b7;
}
input[type="checkbox"]:checked + label .nts-switch::after {
    margin-left: -13px;
    margin-right: -9px;
    background: #68cccc;
}

.nts-switch {
    padding: 0 15px 0 20px;
}



/*
------------------------------------------------------------------------

Utility classes

------------------------------------------------------------------------
*/

@media (max-width: 767px) {
    .-row-mobile {
        width: 100%;
    }
    span.-row-mobile {
        display: block;
        width: 100%;
    }
}

.-pb-2 {
    padding-bottom: 1rem;
}

/*.-py-1 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}*/
.-py-2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
/*.-py-3 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}*/
/*.-py-4 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}*/

.-mr-2 {
    margin-right: 1rem;
}

.-mb-2 {
    margin-bottom: 1rem;
}

.-row {
    width: 100%;
}

.-align-c {
    text-align: center;
}

.-display-n {
    display: none;
}